@page "/checkout"
@inject NavigationManager NavigationManager
@inject IShoppingCartService ShoppingCartService

<h3>Checkout</h3>

<div>
    <h4>Shopping Cart:</h4>
    <ul>
        @foreach (var cartItem in ShoppingCartService.ShoppingCartItems)
        {
            <li>
                <img src="@cartItem.ImageUrl" alt="Shop Image" width="50" height="50" />
                <div>
                    <h6>@cartItem.Name</h6>
                    <p>Price: $@cartItem.Price</p>
                </div>
            </li>
        }
    </ul>
</div>

<div>
    <button @onclick="GoBackToShopSelector">Back to Shop Selector</button>
</div>

@code {
    private List<ShopItem> shoppingCart = new List<ShopItem>();

    private void GoBackToShopSelector()
    {
        NavigationManager.NavigateTo("/shop-selector");
    }
}