@page "/"
<h1>Welcome to my Theme Park</h1>

<p>Explore our features:</p>

<ul>
    <li><a href="ticket-booking">Ticket Booking</a></li>
    <li><a href="ride-information">Ride Information</a></li>
    <li><a href="park-map">Park Map</a></li>
    <li><a href="shop-selector">Food Ordering</a></li>
</ul>

